In [24]:
import io
import pandas as pd

In [25]:
raw = """|id|name|email|field_index|process_id|
|1 | Sta |sta@example.com|A1|25|
|2 |Danny|dany@example.com|B1|25|
|3 |Elle |elle@example.com|C1|25|
|4 |Sam|sam@example.com|D1|25|
|5 | John|john@example.com|A1|25|
|6 |Smith|smith@example.com|B1|25|
|7 |Sam|sam@example.com|C1|25|"""

In [26]:
df = pd.read_csv(
    io.StringIO(raw),
    sep="|",
    usecols=["id", "name", "email", "field_index", "process_id"]
)

In [27]:
df

   id   name              email field_index  process_id
0   1   Sta     sta@example.com          A1          25
1   2  Danny   dany@example.com          B1          25
2   3  Elle    elle@example.com          C1          25
3   4    Sam    sam@example.com          D1          25
4   5   John   john@example.com          A1          25
5   6  Smith  smith@example.com          B1          25
6   7    Sam    sam@example.com          C1          25

In [37]:
q = df.duplicated(subset=["field_index"])
df1 = df.loc[~q, :]
df2 = df.loc[q, :]

In [35]:
df1

   id   name             email field_index  process_id
0   1   Sta    sta@example.com          A1          25
1   2  Danny  dany@example.com          B1          25
2   3  Elle   elle@example.com          C1          25
3   4    Sam   sam@example.com          D1          25

In [36]:
df2

   id   name              email field_index  process_id
4   5   John   john@example.com          A1          25
5   6  Smith  smith@example.com          B1          25
6   7    Sam    sam@example.com          C1          25

In [38]:
print(df1)

   id   name             email field_index  process_id
0   1   Sta    sta@example.com          A1          25
1   2  Danny  dany@example.com          B1          25
2   3  Elle   elle@example.com          C1          25
3   4    Sam   sam@example.com          D1          25

In [39]:
print(df2)

   id   name              email field_index  process_id
4   5   John   john@example.com          A1          25
5   6  Smith  smith@example.com          B1          25
6   7    Sam    sam@example.com          C1          25