In [1]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
import pandas_datareader.data as web   

start = datetime.date.today() - relativedelta(years=1)
end = datetime.date.today()

main = ['MSFT','AAPL','FB','AMZN','NVDA','MA','V','ADBE','LULU','CRM','CRWD']

df = web.DataReader(main, 'yahoo', start, end)
idx = pd.IndexSlice
df.loc[idx[datetime.datetime(2020,1,1):],idx['Adj Close',['MSFT','CRWD']]].head(5)

Attributes   Adj Close
Symbols           MSFT       CRWD
Date
2020-01-02  159.352386  49.439999
2020-01-03  157.368179  50.750000
2020-01-06  157.774948  55.110001
2020-01-07  156.336395  54.750000
2020-01-08  158.826569  55.660000

https://stackoverflow.com/questions/64306502/pandaify-pythonify-max-observation-last-observation-calculation/64306728#64306728

In [2]:
df = df.sort_index()['Adj Close']
df

Symbols,MSFT,AAPL,FB,AMZN,NVDA,MA,V,ADBE,LULU,CRM,CRWD
Date,,,,,,,,,,,
2019-10-11,138.107697,58.472343,184.190002,1731.920044,185.601517,274.430481,175.947235,278.290009,201.619995,149.369995,60.270000
2019-10-14,137.979172,58.388180,183.279999,1736.430054,186.140381,274.897919,176.245377,277.779999,203.039993,149.369995,54.520000
2019-10-15,139.976440,58.252033,188.889999,1767.380005,195.959824,277.066223,177.626633,279.390015,203.889999,152.740005,55.209999
2019-10-16,138.829483,58.016861,189.550003,1777.430054,193.804367,276.777802,176.752151,272.700012,203.080002,146.970001,52.029999
2019-10-17,138.117584,58.242130,190.389999,1787.479980,193.884155,275.027252,176.821732,269.239990,204.960007,146.169998,50.439999
...,...,...,...,...,...,...,...,...,...,...,...
2020-10-05,210.380005,116.500000,264.649994,3199.199951,545.700012,342.850769,203.539993,486.470001,337.869995,251.529999,144.880005
2020-10-06,205.910004,113.160004,258.660004,3099.959961,549.460022,337.037506,200.449997,478.980011,329.290009,250.139999,145.130005
2020-10-07,209.830002,115.080002,258.119995,3195.689941,558.559998,343.500000,202.470001,493.149994,338.910004,259.980011,144.570007
2020-10-08,210.580002,114.970001,263.760010,3190.550049,553.549988,345.149994,202.979996,490.839996,337.940002,260.220001,142.970001
2020-10-09,215.809998,116.970001,264.450012,3286.649902,550.510010,352.390015,206.639999,502.160004,346.459991,265.980011,143.570007

In [3]:
pdiff = 100*(df.max() - df.iloc[-1,:])/df.iloc[-1,:]

In [4]:
print(pdiff)

Symbols
MSFT     7.339788
AAPL    14.713167
FB      14.921531
AMZN     7.448315
NVDA     4.241517
MA       3.775402
V        4.761903
ADBE     6.300777
LULU    14.959885
CRM      5.741029
CRWD     1.086576
dtype: float64

In [7]:
#df = df.sort_index()['Adj Close']
d = df.max().to_frame(name='max')
d['last'] = df.iloc[-1,:]
d['change'] =  100.*(d['max'] - d['last'])/d['last']
d = d.sort_values('change', ascending=False)
print(d)

                 max         last     change
Symbols
LULU      398.290009   346.459991  14.959885
FB        303.910004   264.450012  14.921531
AAPL      134.179993   116.970001  14.713167
AMZN     3531.449951  3286.649902   7.448315
MSFT      231.649994   215.809998   7.339788
ADBE      533.799988   502.160004   6.300777
CRM       281.250000   265.980011   5.741029
V         216.479996   206.639999   4.761903
NVDA      573.859985   550.510010   4.241517
MA        365.694153   352.390015   3.775402
CRWD      145.130005   143.570007   1.086576