In [1]:
import io
import pandas as pd

https://stackoverflow.com/questions/73806546/panda-dataframe-how-to-make-it-faster

In [2]:
bdata = pd.read_fwf(io.StringIO("""      Time     A     B     C     D
2018-01-01   NaN   NaN   NaN   NaN
2018-01-02   NaN   NaN   NaN   NaN
2018-01-03   NaN   NaN   NaN   NaN
2018-01-04   NaN   NaN   NaN   NaN
2018-01-05   NaN   NaN  97.0   NaN
2018-01-06  92.0  69.0  20.0  75.0
2018-01-07  49.0  60.0  56.0   NaN
2018-01-08  56.0   NaN  95.0  15.0
2018-01-09  72.0   NaN   NaN  84.0
2018-01-10   NaN   NaN  74.0   NaN
"""))

sdata = pd.read_fwf(io.StringIO("""      Time    A    B   C    D
2018-01-01  NaN  NaN NaN  NaN
2018-01-02  NaN  NaN NaN  NaN
2018-01-03  NaN  NaN NaN  NaN
2018-01-04  NaN  NaN NaN  NaN
2018-01-05  7.0  NaN NaN  NaN
2018-01-06  NaN  NaN NaN  NaN
2018-01-07  NaN  NaN NaN  3.0
2018-01-08  NaN  NaN NaN  NaN
2018-01-09  NaN  NaN NaN  NaN
2018-01-10  NaN  5.0 NaN  0.0
"""))

In [3]:
bdata["Time"] = pd.to_datetime(bdata["Time"])
sdata["Time"] = pd.to_datetime(sdata["Time"])

In [4]:
bdata["C"].first_valid_index()

4

In [5]:
bdata = bdata.set_index("Time").ffill().bfill()
sdata = sdata.set_index("Time").shift(-1).bfill()

In [6]:
bdata

               A     B     C     D
Time
2018-01-01  92.0  69.0  97.0  75.0
2018-01-02  92.0  69.0  97.0  75.0
2018-01-03  92.0  69.0  97.0  75.0
2018-01-04  92.0  69.0  97.0  75.0
2018-01-05  92.0  69.0  97.0  75.0
2018-01-06  92.0  69.0  20.0  75.0
2018-01-07  49.0  60.0  56.0  75.0
2018-01-08  56.0  60.0  95.0  15.0
2018-01-09  72.0  60.0  95.0  84.0
2018-01-10  72.0  60.0  74.0  84.0

In [7]:
sdata

              A    B   C    D
Time
2018-01-01  7.0  5.0 NaN  3.0
2018-01-02  7.0  5.0 NaN  3.0
2018-01-03  7.0  5.0 NaN  3.0
2018-01-04  7.0  5.0 NaN  3.0
2018-01-05  NaN  5.0 NaN  3.0
2018-01-06  NaN  5.0 NaN  3.0
2018-01-07  NaN  5.0 NaN  0.0
2018-01-08  NaN  5.0 NaN  0.0
2018-01-09  NaN  5.0 NaN  0.0
2018-01-10  NaN  NaN NaN  NaN

In [10]:
ratios = sdata.div(bdata)

In [11]:
print(ratios)

                   A         B   C     D
Time
2018-01-01  0.076087  0.072464 NaN  0.04
2018-01-02  0.076087  0.072464 NaN  0.04
2018-01-03  0.076087  0.072464 NaN  0.04
2018-01-04  0.076087  0.072464 NaN  0.04
2018-01-05       NaN  0.072464 NaN  0.04
2018-01-06       NaN  0.072464 NaN  0.04
2018-01-07       NaN  0.083333 NaN  0.00
2018-01-08       NaN  0.083333 NaN  0.00
2018-01-09       NaN  0.083333 NaN  0.00
2018-01-10       NaN       NaN NaN   NaN

In [13]:
sums = ratios.sum(axis=1)
sums

Time
2018-01-01    0.188551
2018-01-02    0.188551
2018-01-03    0.188551
2018-01-04    0.188551
2018-01-05    0.112464
2018-01-06    0.112464
2018-01-07    0.083333
2018-01-08    0.083333
2018-01-09    0.083333
2018-01-10    0.000000
dtype: float64