In [1]:
import pandas as pd

https://stackoverflow.com/questions/73589538/python-pandas-how-to-create-a-new-row-based-on-missing-value-from-a-column

In [2]:
frame = pd.DataFrame([
    {"country": "A", "year": 2008, "value": 1},
    {"country": "A", "year": 2011, "value": 1},
    {"country": "B", "year": 2008, "value": 1},
    {"country": "B", "year": 2011, "value": 1},
])

In [3]:
frame

  country  year  value
0       A  2008      1
1       A  2011      1
2       B  2008      1
3       B  2011      1

In [4]:
frame.dtypes

country    object
year        int64
value       int64
dtype: object

In [5]:
extension = frame.groupby("country")["year"].agg(["min", "max"]).reset_index()
extension["year"] = extension.apply(lambda x: list(range(x["min"], x["max"] + 1)), axis=1)
print(extension)

  country   min   max                      year
0       A  2008  2011  [2008, 2009, 2010, 2011]
1       B  2008  2011  [2008, 2009, 2010, 2011]

In [6]:
extension.dtypes

country    object
min         int64
max         int64
year       object
dtype: object

In [12]:
extension = extension.explode("year")[["country", "year"]]
extension["year"] = extension["year"].astype(int)
print(extension)

  country  year
0       A  2008
0       A  2009
0       A  2010
0       A  2011
1       B  2008
1       B  2009
1       B  2010
1       B  2011

In [13]:
extension.dtypes

country    object
year        int64
dtype: object

In [14]:
results = frame.merge(extension, how="right", on=["country", "year"])
print(results)

  country  year  value
0       A  2008    1.0
1       A  2009    NaN
2       A  2010    NaN
3       A  2011    1.0
4       B  2008    1.0
5       B  2009    NaN
6       B  2010    NaN
7       B  2011    1.0

In [15]:
results.dtypes

country     object
year         int64
value      float64
dtype: object