In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([-999, -99.9, -9, 9, 99.9, 0., 1, -999], columns=['Item'])

In [3]:
df
print(df)

    Item
0 -999.0
1  -99.9
2   -9.0
3    9.0
4   99.9
5    0.0
6    1.0
7 -999.0

In [4]:
df['Item'].astype(str).str.replace(r'^-99\..*', 'nan').astype(float)

0   -999.0
1      NaN
2     -9.0
3      9.0
4     99.9
5      0.0
6      1.0
7   -999.0
Name: Item, dtype: float64

In [5]:
q1 = df['Item'].astype(str).str.match(r'^-99\..*')

In [6]:
q2 = df['Item'] <= -99.

In [7]:
q2

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7     True
Name: Item, dtype: bool

In [8]:
print(df.loc[~q2,:])

   Item
2  -9.0
3   9.0
4  99.9
5   0.0
6   1.0

In [9]:
#df.loc[q1] = np.nan

In [10]:
print(df)

    Item
0 -999.0
1  -99.9
2   -9.0
3    9.0
4   99.9
5    0.0
6    1.0
7 -999.0

In [23]:
target = -99.5
epsilon = 0.5
q3 = np.abs(df['Item'] - target) <= epsilon

In [24]:
q3

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
Name: Item, dtype: bool

In [25]:
df

    Item
0 -999.0
1  -99.9
2   -9.0
3    9.0
4   99.9
5    0.0
6    1.0
7 -999.0