In [1]:
import pandas as pd

In [2]:
data = pd.read_xml(
    "sample.gpx", 
    xpath=".//doc:trkseg/doc:trkpt",
    namespaces={"doc": "http://www.topografix.com/GPX/1/1"}
)

In [3]:
data["time"] = pd.to_datetime(data["time"])

In [4]:
data = data.set_index("time")

In [5]:
data

                                 lat       lon    ele
time
2023-06-17 10:03:18+00:00  50.810636  4.318812  28.67
2023-06-17 10:03:19+00:00  50.810632  4.318809  28.67
2023-06-17 10:03:35+00:00  50.810624  4.318873  28.02
2023-06-17 10:03:39+00:00  50.810658  4.318920  28.08
2023-06-17 10:03:41+00:00  50.810682  4.318952  28.07
...                              ...       ...    ...
2023-06-18 11:00:07+00:00  50.810589  4.319041  53.46
2023-06-18 11:00:19+00:00  50.810618  4.319173  53.00
2023-06-18 11:00:24+00:00  50.810654  4.319238  52.45
2023-06-18 11:00:58+00:00  50.810678  4.319280  52.40
2023-06-18 11:01:10+00:00  50.810678  4.319280  72.68

[2755 rows x 3 columns]