In [1]:
import pandas as pd

In [13]:
json_data = [
    {
        "meta_info": {"id": 1, "name": "Alice"},
        "data": [{"value": 100}, {"value": 200}]
    },
    {
        "meta_info": {"id": 2, "name": "Bob"},
        "data": []
    },
    {
        "meta_info": {"id": 3, "name": "Charlie"}
        # "data" key is missing
    }
]

In [14]:
for item in json_data:
    if "data" not in item or item["data"] == []:
        item["data"] = [{"value": float("nan")}]

In [15]:
json_data

[{'meta_info': {'id': 1, 'name': 'Alice'},
  'data': [{'value': 100}, {'value': 200}]},
 {'meta_info': {'id': 2, 'name': 'Bob'}, 'data': [{'value': nan}]},
 {'meta_info': {'id': 3, 'name': 'Charlie'}, 'data': [{'value': nan}]}]

In [32]:
df = pd.json_normalize(json_data, record_path='data', meta=['meta_info'], max_level=1, errors='ignore')

In [35]:
df["meta_info"].apply(pd.Series)

   id     name
0   1    Alice
1   1    Alice
2   2      Bob
3   3  Charlie