In [1]:
import pandas as pd

Load sample data and remove 20% (missing records)

In [2]:
df = pd.read_csv("data/kdeplus_sample.csv", parse_dates=["date"]).set_index("date")
_ = df.pop('market_cap_by_available_supply')

In [3]:
df

                            price_usd    volume_usd
date
2017-07-23 16:29:27+00:00  555.885803  40740.816406
2017-07-23 16:34:27+00:00  525.961853  38610.488281
2017-07-23 16:39:27+00:00  524.995483  38609.214844
2017-07-23 16:44:27+00:00  525.567688  38651.296875
2017-07-23 16:49:26+00:00  551.869385  40984.359375
2017-07-23 16:54:29+00:00  578.971375  43986.425781
2017-07-23 16:59:27+00:00  550.918518  43429.843750
2017-07-23 17:04:26+00:00  552.964722  43591.148438
2017-07-23 17:09:27+00:00  552.371277  43544.363281
2017-07-23 17:14:25+00:00  553.294983  43617.183594
2017-07-23 17:19:27+00:00  556.417908  43863.371094
2017-07-23 17:24:26+00:00  557.321899  43934.632812
2017-07-23 17:29:28+00:00  557.043152  43912.660156
2017-07-23 17:34:27+00:00  556.890869  43900.656250
2017-07-23 17:39:27+00:00  556.921936  43903.101562
2017-07-23 17:44:28+00:00  557.882568  43978.832031
2017-07-23 17:49:26+00:00  558.880249  44057.480469
2017-07-23 17:54:27+00:00  555.479004  43789.351562
2017-07-23 17:59:28+00:00  556.213135  44180.953125
2017-07-23 18:04:26+00:00  553.892700  47125.246094
2017-07-23 18:09:28+00:00  555.886719  47294.898438
2017-07-23 18:14:28+00:00  557.203247  47406.910156
2017-07-23 18:19:26+00:00  557.610901  47441.593750
2017-07-23 18:24:27+00:00  556.676819  47362.121094
2017-07-23 18:29:27+00:00  556.148376  47317.156250
2017-07-23 18:34:28+00:00  555.691650  47306.082031
2017-07-23 18:39:29+00:00  551.999634  46991.781250

In [4]:
df.shape

(27, 2)

In [5]:
df = df.sample(frac=0.8).sort_index()

In [6]:
df.shape

(22, 2)

In [7]:
t1 = df.index.round('5T')
t2 = pd.date_range(df.index.min().floor('5T'), df.index.max().ceil('5T'), freq='5T')

In [8]:
df = df.reindex(df.index | t2).interpolate(method='index', limit_direction='both').loc[t2,:]

In [9]:
df.shape

(28, 2)

In [10]:
#required if t1 used instead of t2
#df.resample('5T').interpolate()

In [11]:
df.shape

(28, 2)

In [12]:
df

                            price_usd    volume_usd
2017-07-23 16:25:00+00:00  555.885803  40740.816406
2017-07-23 16:30:00+00:00  552.594169  40506.480313
2017-07-23 16:35:00+00:00  525.855552  38610.348203
2017-07-23 16:40:00+00:00  525.058426  38613.843867
2017-07-23 16:45:00+00:00  528.470551  38908.792067
2017-07-23 16:50:00+00:00  554.910532  41321.224912
2017-07-23 16:55:00+00:00  576.053124  43928.526308
2017-07-23 17:00:00+00:00  551.144353  43447.646608
2017-07-23 17:05:00+00:00  552.897688  43585.863735
2017-07-23 17:10:00+00:00  552.473566  43552.427276
2017-07-23 17:15:00+00:00  553.399688  43625.437789
2017-07-23 17:20:00+00:00  554.297164  43696.188036
2017-07-23 17:25:00+00:00  555.194640  43766.938283
2017-07-23 17:30:00+00:00  556.092116  43837.688530
2017-07-23 17:35:00+00:00  556.894286  43900.925234
2017-07-23 17:40:00+00:00  557.027255  43911.404238
2017-07-23 17:45:00+00:00  557.989702  43987.277501
2017-07-23 17:50:00+00:00  558.496055  44027.193483
2017-07-23 17:55:00+00:00  555.391612  43973.132063
2017-07-23 18:00:00+00:00  554.597136  45643.863881
2017-07-23 18:05:00+00:00  554.117192  47144.346026
2017-07-23 18:10:00+00:00  556.027148  47306.846354
2017-07-23 18:15:00+00:00  557.247022  47410.634569
2017-07-23 18:20:00+00:00  557.505390  47432.616772
2017-07-23 18:25:00+00:00  556.622725  47359.044074
2017-07-23 18:30:00+00:00  556.130960  47331.071164
2017-07-23 18:35:00+00:00  555.299144  47272.667995
2017-07-23 18:40:00+00:00  551.999634  46991.781250