https://stackoverflow.com/questions/73882573/how-to-melt-a-dataframe-based-on-a-pattern-of-the-column-name/73882757#73882757

In [1]:
import io
import pandas as pd

df = pd.read_csv(io.StringIO("""Year | Baseline_low | Baseline_high | Overall_low | Overall_high  
2022 |            1 |             2 |           3 |            4
2023 |            5 |             6 |           7 |            8"""), sep="|")
df.columns = [column.strip() for column in df.columns]

df

   Year  Baseline_low  Baseline_high  Overall_low  Overall_high
0  2022             1              2            3             4
1  2023             5              6            7             8

In [4]:
final = df.melt(id_vars=["Year"])
final[["Type", "State"]] = final["variable"].str.split("_", expand=True)

In [5]:
final

   Year       variable  value      Type State
0  2022   Baseline_low      1  Baseline   low
1  2023   Baseline_low      5  Baseline   low
2  2022  Baseline_high      2  Baseline  high
3  2023  Baseline_high      6  Baseline  high
4  2022    Overall_low      3   Overall   low
5  2023    Overall_low      7   Overall   low
6  2022   Overall_high      4   Overall  high
7  2023   Overall_high      8   Overall  high