https://stackoverflow.com/questions/77371453/how-to-drop-nan-values-but-not-colums-in-pandas

In [4]:
import io
import pandas as pd

In [14]:
df = pd.read_fwf(io.StringIO("""
A   B   C   D   E
0   nan nan 3   nan
nan 1   nan nan 4
nan nan 2   nan nan
"""))

In [15]:
df

     A    B    C    D    E
0  0.0  NaN  NaN  3.0  NaN
1  NaN  1.0  NaN  NaN  4.0
2  NaN  NaN  2.0  NaN  NaN

In [16]:
df.melt().dropna().set_index("variable").T

variable    A    B    C    D    E
value     0.0  1.0  2.0  3.0  4.0