https://stackoverflow.com/questions/73471161/is-there-a-way-to-flatten-a-df-csv-if-the-time-for-rows-is-the-same?noredirect=1#comment129746967_73471161

In [1]:
import pandas as pd

In [16]:
data = [
    {"time": "06:50", "A": 1}, {"time": "06:50", "B": 2}, {"time": "06:50", "C": 3},
    {"time": "06:51", "A": 4}, {"time": "06:51", "B": 5}, {"time": "06:51", "C": 6},
    {"time": "06:52", "A": 7}, {"time": "06:52", "B": 8}, {"time": "06:52", "C": 9},
]

In [22]:
frame = pd.DataFrame(data)
print(frame)

    time    A    B    C
0  06:50  1.0  NaN  NaN
1  06:50  NaN  2.0  NaN
2  06:50  NaN  NaN  3.0
3  06:51  4.0  NaN  NaN
4  06:51  NaN  5.0  NaN
5  06:51  NaN  NaN  6.0
6  06:52  7.0  NaN  NaN
7  06:52  NaN  8.0  NaN
8  06:52  NaN  NaN  9.0

In [18]:
frame = frame.melt(id_vars=["time"]).dropna()
frame

     time variable  value
0   06:50        A    1.0
3   06:51        A    4.0
6   06:52        A    7.0
10  06:50        B    2.0
13  06:51        B    5.0
16  06:52        B    8.0
20  06:50        C    3.0
23  06:51        C    6.0
26  06:52        C    9.0

In [20]:
frame = frame.pivot_table(index="time", columns="variable", values="value")

In [21]:
print(frame)

variable    A    B    C
time
06:50     1.0  2.0  3.0
06:51     4.0  5.0  6.0
06:52     7.0  8.0  9.0