In [1]:
import io
import pandas as pd

https://stackoverflow.com/questions/78299328/pivot-dataframe-into-two-seperate-tables

In [3]:
data = pd.read_fwf(io.StringIO("""
ID    Counterparty  Date           Commodity Deal    Price   Total
1     party1        04/03/2024     Oil       Sell    10.00   100.00
2     party1        04/03/2024     Oil       Sell    10.00   100.00
3     party1        04/03/2024     Oil       Sell    10.00   100.00
4     party1        04/03/2024     Oil       Buy     10.00   100.00
5     party1        04/03/2024     Oil       Buy     10.00   100.00
6     party1        04/03/2024     Oil       Buy     10.00   100.00
7     party2        04/03/2024     Oil       Sell    5.00    50.00
8     party2        04/03/2024     Oil       Sell    5.00    50.00
9     party2        04/03/2024     Oil       Sell    5.00    50.00
10    party2        04/03/2024     Oil       Buy     5.00    50.00
11    party2        04/03/2024     Oil       Buy     5.00    50.00
12    party2        04/03/2024     Oil       Buy     5.00    50.00"""))

In [5]:
data

    ID Counterparty        Date Commodity  Deal  Price  Total
0    1       party1  04/03/2024       Oil  Sell   10.0  100.0
1    2       party1  04/03/2024       Oil  Sell   10.0  100.0
2    3       party1  04/03/2024       Oil  Sell   10.0  100.0
3    4       party1  04/03/2024       Oil   Buy   10.0  100.0
4    5       party1  04/03/2024       Oil   Buy   10.0  100.0
5    6       party1  04/03/2024       Oil   Buy   10.0  100.0
6    7       party2  04/03/2024       Oil  Sell    5.0   50.0
7    8       party2  04/03/2024       Oil  Sell    5.0   50.0
8    9       party2  04/03/2024       Oil  Sell    5.0   50.0
9   10       party2  04/03/2024       Oil   Buy    5.0   50.0
10  11       party2  04/03/2024       Oil   Buy    5.0   50.0
11  12       party2  04/03/2024       Oil   Buy    5.0   50.0

In [7]:
pivot1 = data.pivot_table(index="Counterparty", columns=["Deal", "Commodity"], values="Total", aggfunc="sum")

In [8]:
pivot1["Sell"]

Commodity       Oil
Counterparty
party1        300.0
party2        150.0

In [9]:
pivot1["Buy"]

Commodity       Oil
Counterparty
party1        300.0
party2        150.0

In [10]:
pivot2 = data.pivot_table(index="Counterparty", columns=["Commodity"], values="Total", aggfunc="sum")

In [12]:
pivot2

Commodity       Oil
Counterparty
party1        600.0
party2        300.0