In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "value": ["A_B", "C_D", "E_F", "G_H"]
})

In [3]:
df

  value
0   A_B
1   C_D
2   E_F
3   G_H

In [4]:
df[["left", "right"]] = df["value"].str.split("_", expand=True)

In [5]:
df

  value left right
0   A_B    A     B
1   C_D    C     D
2   E_F    E     F
3   G_H    G     H

In [6]:
df.merge(df, on=["left"], validate="1:1", indicator=True)

  value_x left right_x value_y right_y _merge
0     A_B    A       B     A_B       B   both
1     C_D    C       D     C_D       D   both
2     E_F    E       F     E_F       F   both
3     G_H    G       H     G_H       H   both

In [7]:
df1 = pd.DataFrame({
    "key": ["A", "B", "C"],
    "value": [1, 2, 3]
})

df2 = pd.DataFrame({
    "key": ["B", "C", "D", "D"],
    "value": [2, 3, 4, 4]
})

In [8]:
df1.merge(df2, on=["key"], how="outer", validate="1:m", indicator=True)

  key  value_x  value_y      _merge
0   A      1.0      NaN   left_only
1   B      2.0      2.0        both
2   C      3.0      3.0        both
3   D      NaN      4.0  right_only
4   D      NaN      4.0  right_only

In [11]:
#df1.merge(df2, how="cross", validate="1:1", indicator=True)

In [12]:
pd.__version__

'1.5.0'

In [14]:
df1.merge(df2, how="cross")

   key_x  value_x key_y  value_y
0      A        1     B        2
1      A        1     C        3
2      A        1     D        4
3      A        1     D        4
4      B        2     B        2
5      B        2     C        3
6      B        2     D        4
7      B        2     D        4
8      C        3     B        2
9      C        3     C        3
10     C        3     D        4
11     C        3     D        4