In [2]:
import io
import pandas as pd

https://stackoverflow.com/questions/72949020/simplify-pivot-in-pandas

In [7]:
stream = io.StringIO("""CST_ID;PROD_CODE
11111;1234
11111;2345
11111;5425
11111;9875
22222;2345
22222;9251
22222;1234
33333;6542
33333;7498""")

In [8]:
df_init = pd.read_csv(stream, sep=";")

In [9]:
df_init

   CST_ID  PROD_CODE
0   11111       1234
1   11111       2345
2   11111       5425
3   11111       9875
4   22222       2345
5   22222       9251
6   22222       1234
7   33333       6542
8   33333       7498

In [10]:
to_append = []
for index in range(len(df_init)):
    temp = df_init.iloc[:index+1]['CST_ID'] == df_init.iloc[index]['CST_ID'] # ['CST_ID']== df_init.iloc[index]['CST_ID']]
    counter = sum(list(temp))
    to_append.append(counter)

df_init['Product_number'] = to_append

In [11]:
df_init

   CST_ID  PROD_CODE  Product_number
0   11111       1234               1
1   11111       2345               2
2   11111       5425               3
3   11111       9875               4
4   22222       2345               1
5   22222       9251               2
6   22222       1234               3
7   33333       6542               1
8   33333       7498               2

In [12]:
df_fin = df_init.assign(key="PROD_" + (df_init.groupby("CST_ID").cumcount()+1).astype(str))
df_fin = df_fin.pivot(index="CST_ID", columns="key", values="PROD_CODE")

In [13]:
df_fin

key     PROD_1  PROD_2  PROD_3  PROD_4
CST_ID
11111   1234.0  2345.0  5425.0  9875.0
22222   2345.0  9251.0  1234.0     NaN
33333   6542.0  7498.0     NaN     NaN